In [113]:
import pandas as pd

In [114]:
name = "Lenovo IdeaPad 3 CB 11IGL05"

In [154]:
filepath = 'laptop_csv_data.csv'
laptops = pd.read_csv(filepath)
#laptops.loc[laptops['cluster_group'] == 1.0]
laptops.head()

,Unnamed: 0,name,price,cluster_group
0,0,"Apple MacBook Pro M1 2020 13"" 8 GB RAM & 256 G...",10622,0.0
1,1,Samsung Galaxy Book Pro 360 - Intel Core i7 & ...,11999,0.0
2,2,ASUS ROG Strix G17 G713QM-HX015T - RTX3060 & R...,11999,0.0
3,3,Lenovo Legion 5 Pro 16ACH6H - RTX3070 & Ryzen ...,12499,0.0
4,4,MSI Summit E13 Flip Evo - Intel Core i7 1185G7...,14546,0.0

In [201]:
filepath2 = 'clusters.csv'
clusters = pd.read_csv(filepath2)
price = 2099
cluster_price = min(list(clusters['price']), key=lambda x:abs(x-price))
found_cluster = clusters.loc[clusters['price'] == cluster_price]['cluster_group']

    
print(clusters)
print(float(found_cluster))

   cluster_group         price  Counts
0            0.0   9116.998991     991
1            1.0  20742.348416     221
2            2.0  32613.736842      19
3            3.0  42136.250000       4
4            4.0  47224.000000       1
5            5.0  64146.000000       1
0.0

In [202]:
same_cluster = laptops.loc[laptops['cluster_group'] == float(found_cluster) and laptops['name'] != name][['name','price']]

same_cluster.iloc[(same_cluster['price']-price).abs().argsort()[:5]]

                                                   name  price
1209                        Lenovo IdeaPad 3 CB 11IGL05   2099
332                   Acer Chromebook 315 CB315-2H-48FN   2128
83    Acer Chromebook 314 CB314-1H-C8VP - 4 GB RAM &...   2187
28                     Acer TravelMate B1 TMB118-M-C7W2   1999
662                       ASUS Chromebook C202XA-GJ0002   2206